<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lohnverrechner</title>
    <script>

(function() {
    const form = document.querySelector('#sectionForm');
    const checkboxes = form.querySelectorAll('input[type=checkbox]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'Eine Option waehlen!' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();
    function selectOnlyThis(id) {
        for (let i = 1;i <= 2; i++)
        {
            document.getElementById("Check" + i).checked = false;
        }
        document.getElementById(id).checked = true;
    }
    </script>
</head>
<body>
<form id="sectionForm" method="POST" style="text-align: center; padding-top: 300px">
    <input type="checkbox" name="netto" value="netto" id="Check1" onclick="selectOnlyThis(this.id);"> Auf Netto umrechnen
    <br>
    <br>
    <input type="checkbox" name="brutto" value="brutto" id="Check2" onclick="selectOnlyThis(this.id);"> Auf Brutto umrechnen
    <br>
    <br>
    <input type="number" name="number">
    <br>
    <br>
    <input type="submit">
</form>
</body>
</html>
